.properties {
  background-color: #1c1c27;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #13131a;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.properties_main {
  display: flex;
  align-items: center;
  gap: 12px;
}

.description {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 19.6px;
  color: #bfbfd4;
}

.rating {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 22.4px;
  color: #fafafa;
}
